NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bGVhZGluZy1wbGF0eXB1cy01OC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_inOZ1VscaUv5XyFqACWCQHb9VGZ54GZ7gSeWX0HRlO

NEXT_PUBLIC_SUPABASE_URL=https://meoglswshjaaaligogmq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1lb2dsc3dzaGphYWFsaWdvZ21xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ3OTExMjksImV4cCI6MjA4MDM2NzEyOX0.MyX4K9hH-AQb0FSyAs4ylBqLO2-NeVyoEEy1opvrG10